<h2>Add a new cocktail:<h2>
<%= form_for(@cocktail) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.submit %>
<% end %>

<p><%= link_to "Back to the cocktail list", cocktails_path(@cocktail) %>
</div><p>
